/* STYLES CSS */

:root {
  --color-yellow: #f7df1e;
  --color-black: #222222;
  --main-font: sans-serif;
  --modal-color-yellow: rgba(247, 222, 30, 0.85);
  --modal-color-black: rgba(34, 34, 34, 0.85);

  --font-size: 16px;
  --opacity: 0.8;

  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/***********FORM *************/

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
  font-weight: bold;
}

/********* SECCION TITULO ****************/

.header {
  position: sticky;
  z-index: 8;
  top: 0;
  padding: 1rem;
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

/************ MENU HAMBURGUESA *****************/

.panel {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--modal-color-black);
  overflow-y: auto;
  /*arriba ocultarlo */

  /* 
  // efectos de traslacion(
  transform: translate(0, -100%);

  transform: translate(0, 100%); //abajo
  transform: translate(-100%, 0); //izq
  transform: translate(10%0, 0); // der
  transition: transform 0.3s ease;
  //efecto con opacidad
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease;
  // display
  display: none;
  */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transform: translate(0, 100%);
}

.panel.is-active {
  /*
  //translacion
  transform: translate(0, 0);
  //opacidad
  visibility: visible;
  opacity: 1;
  //display
  display: block;
  */
  transform: translate(0, 0);

  opacity: 1;
}

.panel-btn {
  /* Posicion fija */
  position: fixed;
  height: 64px;
  z-index: 10;
  bottom: 1vh;
  right: 1vw;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow) !important;
}

/************  SCROOL UP BUTTON ***********/

.scroll {
  /* Posicion fija */
  position: fixed;
  z-index: 10;
  bottom: 1vh;
  right: calc(4.75rem + 1vw);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
  border: none;
  width: 64px;
  height: 64px;
  cursor: pointer;
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.3s ease;
}

/* added showBtn class */
.showBtn {
  opacity: 1;
  transform: translateY(0px);
}

.scroll:hover {
  background-color: var(--modal-color-yellow);
}

.scroll i {
  font-size: 2rem;
}

/***********BUTTON DARK - LIGHT MODE ************/

.theme {
  position: fixed;
  z-index: 10;
  width: 64px;
  height: 64px;
  bottom: 1vh;
  left: 1vw;
  border-radius: 50%;
  background-color: var(--color-yellow);
  outline: none;
  border: 0;
  cursor: pointer;
}

.theme span {
  font-size: 2rem;
  display: none;
}

.theme:hover {
  background-color: var(--modal-color-black);
}

.theme span.is-active {
  display: block;
}

.dark-mode {
  background-color: var(--modal-color-black);
  color: var(--color-yellow);
}

/************* MAIN SECTION *************************/

section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

/************* SECTION NAV BAR **********/

.navbar {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.navbar a {
  padding: 2rem;
  text-decoration: none;
  width: inherit;
  display: block;
  color: var(--color-black);
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-yellow);
  transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  background-color: var(--modal-color-yellow);
  color: var(--color-black);
}

/***** RELOJ ****/

.escribir-reloj {
  display: none;
}

.escribir-reloj.is-active {
  display: block;
}

/******** SECCION 2 EVENTOS TECLADO ******/

.black-rectangle {
  background-color: var(--modal-color-black);
  height: 50vh;
  display: flex;
}

.yellow-ball {
  background-color: var(--color-yellow);
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/*********** SECCION 7 ONLINE - OFFLINE******************/

#conexion.hidden {
  opacity: 0;

  transform: translate(0, -100%);
}
#conexion {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 1vw;
  font: bold 2rem sans-serif;
  color: #fff;
  padding: 0.5em;
  opacity: 1;
  transition: transform 2s ease, opacity 2s ease;
  transform: translate(0, 0);
}

#log {
  font: 1.3rem sans-serif;
}

.conexion {
  width: 200px;
}
.online {
  color: white;
  background-color: green;
}

.offline {
  color: white;
  background-color: red;
}

/********* SECCION BUSQUEDA ************/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  display: inline-block;
  background-color: var(--modal-color-black);
  color: var(--color-yellow);
  padding: 1rem;
  transition: all 0.5s ease-out;
}

.filter {
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/******* Carrousel *************/

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  border: thin solid var(--color-black);
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}
.slider-slide .numbertext {
  position: absolute;
  top: 3%;
  width: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: start;
}
.slider-slide .text {
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.slider-slide.active {
  opacity: 1;
  visibility: visible;
}
.slider-btns {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid var(--color-black);
  text-decoration: none;
  background-color: white;
  color: var(--color-black);
  transition: all 0.3s ease;
}

.slider a:hover {
  color: var(--modal-color-black);
}

/************* NAV DESKTOP ***********************/

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main panel";
  }

  main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    align-self: start;
    position: sticky;
    top: 4rem;
    justify-content: flex-start;
    background-color: var(--color-black);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    height: 100vh;
  }

  button.panel-btn {
    display: none;
  }

  .navbar {
    justify-content: start;
    text-align: right;
  }

  .navbar a {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .scroll {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}

/*********** FORM*****************/

.form-data input {
  width: 100%;
}

.form-data input[type="submit"] {
  width: 100px;
  background-color: var(--modal-color-yellow);
  border-radius: 10%;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}
.form-data input[type="submit"]:hover {
  background-color: var(--modal-color-black);
  color: var(--color-yellow);
}

textarea {
  resize: none;
  width: 100%;
}

.warn {
  color: white;
  background-color: red;
  border-radius: 5%;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}
.warn.is-active {
  visibility: visible;
  opacity: 1;
}

.form-data li {
  margin: 0;
}

/************* FORM VERSION 2******************/

.contact-form {
  --form-ok-color: #4caf45;
  --form-error-color: #f44335;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #122222;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: 2px solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: white;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*********SPEECH FORM************/

.speech-form {
  width: 70%;
}
.speech-form > * {
  margin-top: 1rem;
}
